p {
    margin-bottom: 0;
}



@media (max-width: 768px) {
    .container-fluid {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .d-md-flex,
    .justify-content-between,
    .align-items-center {
        // flex-direction: column !important;
        gap: 1rem;
    }
}